
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <button mat-icon-button class="example-icon" aria-label="Menu button">
    <mat-icon style="cursor: pointer" (click)="toggleMenu()">menu</mat-icon>
  </button>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/register">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>

      <div style="display: flex; justify-content: space-between; padding: 10px;">
        <button class="login-btn" routerLink="login">Login</button>
      </div>
    </div>
  </div>
</nav>
