.card {
  width: 100%;
  height: 375px; /* Adjusted card height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden; /* Prevent content overflow */
}

.book-image {
  object-fit: contain;
  height: 150px; /* Reduced image height */
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow content to take available space */
}

.button-container {
  margin-top: auto; /* Push buttons to the bottom */
}
