<div class="container mt-4">
  <h2>Manage Profile</h2>
  <form #updateprofileForm="ngForm" (ngSubmit)="onSubmit(updateprofileForm)">


    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="email" required />
    </div>


    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="password" required />
    </div>


    <div class="mb-3">
      <label class="form-label">Re-enter Password</label>
      <input type="password" class="form-control" name="reenterPassword" [(ngModel)]="reenterPassword" required />
      <small class="text-danger" *ngIf="passwordMismatch">Passwords do not match</small>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="passwordMismatch">Confirm</button>
  </form>
</div>
