<mat-list class="admin-sidebar-list">
  <mat-list-item [routerLinkActive]="['active']" class="nav-item">
    <mat-icon mat-list-icon>dashboard</mat-icon>
    <a routerLink="admindashboard" mat-line>Dashboard</a>
  </mat-list-item>

  <mat-list-item [routerLinkActive]="['active']" class="nav-item">
    <mat-icon mat-list-icon>person_add</mat-icon>
    <a routerLink="adduser" mat-line>Add User</a>
  </mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" class="nav-item">
    <mat-icon mat-list-icon>menu_book</mat-icon>
    <a routerLink="addbook" mat-line>Manage Books</a>
  </mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" class="nav-item">
    <mat-icon mat-list-icon>swap_horiz</mat-icon>
    <a routerLink="bookcirculation" mat-line>Circulation</a>
  </mat-list-item>

  <mat-list-item [routerLinkActive]="['active']" class="nav-item">
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <a routerLink="manageprofile" mat-line>Profile</a>
  </mat-list-item>

  <mat-list-item [routerLinkActive]="['active']" class="nav-item logout-item">
    <mat-icon mat-list-icon>logout</mat-icon>
    <a routerLink="" mat-line>Logout</a>
  </mat-list-item>
</mat-list>
